<ion-view title="Current Status">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
    <ion-list >
    
      <ion-item ng-repeat="sub in subjects" >
        {{sub.name}}
        
        <span class="badge badge-assertive">{{(sub.present/sub.total*100)||0}}%</span>
        <!--<progress max="{{sub.total}}" value="{{sub.present}} "></progress>-->
        
        <div class="progress">
          <span id="percent"></span>
          <div id="bar" ></div>
        </div>
      
      <a class="item assertive item-note" href='#/app/update/:{{sub.id}}'>
      	Update
      </a>
      <span class="item item-note">Present:{{sub.present}}</span>
        <span class="item item-note">Total:{{sub.total}}</span>
      </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
