<ion-view hide-back-button="true" title="Current Status">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-clear" ng-click="reset()">Reset</button>
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
    <ion-list >
    
      <ion-item ng-repeat="sub in subjects track by $index" ng-init="percent=((sub.present/sub.total*100)||0).toFixed(2)">
        {{sub.name}}
        
        <span class="badge">{{percent}}%</span>
        <!--<progress max="{{sub.total}}" value="{{sub.present}} "></progress>-->
        <br />
        <div class="progress" ng-init="col = (percent < 75 ? 'red' : (percent <85 ? '#0099CC' : 'green'))">
          <span id="percent"></span>
          <div id="bar" ng-style = "{ width: '{{percent||0}}%' , 'background-color': '{{col}}' }"></div>
        </div>
        <br />
      
      <a class="item assertive item-note" href='#/app/update/:{{sub.id}}'>
      	Update
      </a>
      <span class="item item-note">Present:{{sub.present}}</span>
        <span class="item item-note">Total:{{sub.total}}</span>
      </ion-item>
      <button class="button button-block icon-left ion-plus-circled" ng-click="openModal()">Add Subjects</button>
      </ion-list>
  </ion-content>
</ion-view>

<script id="addSubject.html" type="text/ng-template">
        <ion-modal-view >
            <ion-header-bar class="bar-secondary">
                <h1 class="title">New Subjects</h1>
                <button class="button button-clear button-positive" ng-click="closeModal()">Cancel</button>
            </ion-header-bar>
            <ion-content>
              <form ng-submit="add(subject)">
                <div class="list">
                  <label class="item item-input">
                    <input type="text" placeholder="New Subject" ng-model="subject.title">
                  </label>
                  </div>
                <div class="padding">
                  <button type="submit" class="button button-block button-positive">Add Subject</button>
                </div>
                </div>
              </form>
            </ion-content>
        </ion-modal-view>
    </script>
