<ion-view hide-back-button="true" title="Current Status">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" overflow-scroll="true">
    <ion-list >
    
      <ion-item ng-repeat="sub in subjects" ng-init="percent=((sub.present/sub.total*100)||0).toFixed(2)">
        {{sub.name}}
        
        <span class="badge">{{percent}}%</span>
        <!--<progress max="{{sub.total}}" value="{{sub.present}} "></progress>-->
        <br />
        <div class="progress" ng-init="col = (percent < 75 ? 'red' : (percent <85 ? '#0099CC' : 'green'))">
          <span id="percent"></span>
          <div id="bar" ng-style = "{ width: '{{percent||0}}%' , 'background-color': '{{col}}' }"></div>
        </div>
        <br />
      
      <a class="item assertive item-note" href='#/app/update/:{{sub.id}}'>
      	Update
      </a>
      <span class="item item-note">Present:{{sub.present}}</span>
        <span class="item item-note">Total:{{sub.total}}</span>
      </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
