
 <ion-view >

        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide class="A">
            <h3>Thank you for choosing the App!</h3>
            <div id="logo">
              <img src="img/logo.gif">
            </div>
            <p>
              Forget the tension of your attendance
            </p>
            <p>
              Trust Us. Enjoy life
            </p>
          </ion-slide>
          <ion-slide class="B">
            <h3>Using Awesome</h3>
            
            <div id="list">
              <h5>Just three steps:</h5>
              <ol>
                <li>Be awesome</li>
                <li>Stay awesome</li>
                <li>There is no step 3</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide class="C">
            <h3>Any questions?</h3>
            <p>
              Too bad!
            </p>
            <button class="button button-dark button-block" ng-click="start()">Get started</button>
          </ion-slide>
        </ion-slide-box>
      </ion-view>